django
tornado
ansible
sh
pymysql
pytest
celery
django-auth-ldap
python-ldap
django-celery-beat
gunicorn
redis
psutil
schedule
pymongo
requests
django-db
ldap3
#elfinder requirements
enum34
ipaddress
asn1crypto
bcrypt
cffi
cryptography
django-storages
idna
olefile
paramiko
Pillow
pyasn1
pycparser
PyNaCl
python-magic
pytz
six
django-split_settings
django_celery_results
